@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dracula (&:where([data-theme=dracula], [data-theme=dracula] *));

:root {
  --bg-color: white;
  --text-color: black;
}

[data-them="dark"] {
  --bg-color: black;
  --text-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}
